{
  "include": ["src/**/*.ts", "src/**/*.tsx", "%PREFIX%typings/**/*", "%PREFIX%node_modules/@types/*"],
  "exclude": ["**/__tests__/*", "*.test.*"],
  "compilerOptions": {
    "jsx": "react",
    "emitDeclarationOnly": true,
    "esModuleInterop": true,
    "forceConsistentCasingInFileNames": true,
    "strict": true,
    "skipLibCheck": true,
    "downlevelIteration": true,
    "target": "ESNext",
    "module": "commonjs",
    "allowJs": false,
    "moduleResolution": "node",
    "sourceMap": true,
    "declaration": true,
    "declarationMap": true,
    "skipDefaultLibCheck": true,
    "noErrorTruncation": true,
    "importHelpers": true,
    "resolveJsonModule": true,
    "lib": ["DOM", "ESNext"]
  }
}
