common --enable_bzlmod
common --experimental_google_legacy_api

common --bes_results_url=https://app.buildbuddy.io/invocation/
common --bes_backend=grpcs://remote.buildbuddy.io
common --remote_cache=grpcs://remote.buildbuddy.io
common --remote_cache_compression
common --remote_cache_async
common --remote_download_toplevel
common --remote_timeout=3600
common --build_metadata=REPO_URL=https://github.com/player-ui/rules_player.git

# To update these lines, execute 
# `bazel run @rules_bazel_integration_test//tools:update_deleted_packages`
build --deleted_packages=examples/kotlin,examples/ts-monorepo,examples/ts-monorepo/packages/module-a,examples/ts-monorepo/packages/module-b
query --deleted_packages=examples/kotlin,examples/ts-monorepo,examples/ts-monorepo/packages/module-a,examples/ts-monorepo/packages/module-b

try-import %workspace%/.bazelrc.local
