common --enable_bzlmod

# The rules_android builder tools require a JDK 17 toolchain.
common --java_language_version=17
common --java_runtime_version=17
common --tool_java_language_version=17
common --tool_java_runtime_version=17
